@font-face {
    font-family: 'PressStart';
    src: url('./PrStart.ttf') format('truetype');
    /* Add more font variations if needed */
    /* font-weight: normal;
       font-style: normal; */
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('./Poppins-Medium.ttf') format('truetype');
    /* Add more font variations if needed */
    /* font-weight: normal;
       font-style: normal; */
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('./Poppins-Bold.ttf') format('truetype');
    /* Add more font variations if needed */
    /* font-weight: normal;
       font-style: normal; */
}